@import "graph.scss";

body {
    font-family: helvetica, 'helvetica-neue', arial, sans-serif;
}

h1.apptitle {
    color: #1a1a1a;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.05em;
}

